.connect_authorize {
  line-height: 1rem;
  font-weight: 300;
  font-size: 0.38rem;
  text-transform: uppercase;
  color: #727983;
}
.authorize_box {
  background: #fff;
  padding: 0.2rem;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
}
.authorize_box .authorize_meta {
  font-size: 1.5rem;
  color: #55acee;
  text-align: center;
}
.authorize_box .authorize_meta .twitter_logo {
  font-size: 1.8rem;
}
.authorize_box .facebook {
  color: #4767AA;
}
.authorize_box ul li {
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #E1E2E9;
  padding: 0 0.2rem;
  font-size: 0.32rem;
}
.authorize_box ul li a {
  float: left;
  width: 30%;
  color: #B2B6BB;
}
.authorize_box .authorize_connect {
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.2rem;
  color: #55acee;
  font-size: 0.34rem;
}
