@charset "UTF-8";
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #333;
  font-size: 14px;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input,
textarea {
  outline: none;
  border: none;
  resize: none;
}
ul,
ol {
  list-style: none;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
@media (min-width: 320px) {
  html {
    font-size: 42.6667px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (min-width: 448px) {
  html {
    font-size: 59.7333px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 512px) {
  html {
    font-size: 68.2667px;
  }
}
@media (min-width: 544px) {
  html {
    font-size: 72.5333px;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 76.8px;
  }
}
@media (min-width: 608px) {
  html {
    font-size: 81.0667px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 85.3333px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
body {
  background: #f9f9f9;
}
/*头部*/
header {
  position: fixed;
  left: 0;
  width: 100%;
  height: 1.08rem;
  line-height: 1.08rem;
  text-align: center;
  color: #fff;
  background-color: #333a45;
  font-size: 0.38rem;
  z-index: 10;
  padding: 0 0.3rem;
}
header .setting,
header .search {
  height: 1.08rem;
  width: 1.08rem;
  padding: 0.1rem;
}
header .setting i,
header .search i {
  font-size: 0.6rem;
  color: #FE9900;
}
header .login {
  height: 100%;
  color: #fff;
  font-size: 0.4rem;
  padding: 0 0.2rem;
}
header .search i {
  color: #616976;
}
.content {
  position: fixed;
  top: 1.08rem;
  bottom: 0.2rem;
  width: 100%;
  overflow: auto;
  padding: 0.3rem;
}
.mine_bar {
  position: absolute;
  top: 1.08rem;
  right: 0.3rem;
  z-index: 2;
  background: #fff;
  color: #388DB0;
  border-radius: 0 0 0.5rem 0.5rem;
}
.mine_bar .mine_bar_list {
  width: 100%;
}
.mine_bar .mine_bar_list li {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 100%;
  border-bottom: 1px solid #e1e2e9;
}
.mine_bar .mine_bar_list li a {
  width: 100%;
  display: block;
  color: #388DB0;
  height: 100%;
  font-size: 0.32rem;
  padding: 0 0.2rem;
}
/*.tab_bar{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:60%;
  background: rgba(0,0,0,.7);
  z-index:1000;
  color:#fff;
  .tab_bar_close{
    position:absolute;
    top:.1rem;
    right:.1rem;
    width:.8rem;
    height:.8rem;
    background: rgba(255, 255, 255, .5);
    line-height:.8rem;
    text-align:center;
    border-radius: .4rem;
    i{
      color:#fff;
      font-size:.6rem;
      margin-top:.1rem;
    }
  }
  .tab_bar_header{
    height:1.08rem;
    line-height:1.08rem;
    text-align:center;
    width:100%;
    font-size:.4rem;
    border-bottom:1px solid #f9f9f9;
  }
  .tab_bar_list{
    padding:0 .3rem;
    width:100%;
    li{
      height:1rem;
      line-height:1rem;
      width:100%;
      border-bottom:1px solid #fff;
      a{
        width:100%;
        display:block;
        height:100%;
        color:#fff;
        font-size:.38rem;
        padding:0 .2rem;
      }
    }
  }
}*/
