.content_box_inner .basic b {
  display: block;
  font-size: 0.34rem;
  margin-bottom: 0.1rem;
}
.content_box_inner .basic .mood_rate {
  width: 100%;
  height: 1rem;
}
.content_box_inner .basic .mood_rate li {
  float: left;
  height: 100%;
  width: 20%;
  border-right: 3px solid #fff;
}
.content_box_inner .basic .mood_rate li a {
  height: 100%;
  line-height: 1rem;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 0.34rem;
  color: #fff;
}
.content_box_inner .basic .mood_rate .mood-1 {
  background: #df3e3e;
}
.content_box_inner .basic .mood_rate .mood-2 {
  background: #df953e;
}
.content_box_inner .basic .mood_rate .mood-3 {
  background: #b1d020;
}
.content_box_inner .basic .mood_rate .mood-4 {
  background: #68db36;
}
.content_box_inner .basic .mood_rate .mood-5 {
  background: #00b50d;
}
.content_box_inner .basic .form-group {
  margin-bottom: 0.1rem;
}
.content_box_inner .basic .form-group .form-control {
  display: block;
  height: 2rem;
  width: 100%;
  font-size: 0.34rem;
  color: #555;
  vertical-align: middle;
  border-radius: 6px;
  background-color: #f9f9fa;
  border: 1px solid #D2D4DE;
  padding: 4px 5px;
}
.content_box_inner .basic .form-group .taggle_placeholder {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-indent: 0.5em;
  font-size: 0.34rem;
  border: 1px solid #D2D4DE;
}
.content_box_inner .basic .form-group .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
  font-size: 0.3rem;
  text-indent: 0.5em;
}
.content_box_inner .basic p {
  font-size: 0.28rem;
}
.content_box_inner .basic p .save {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 300;
  font-size: 0.34rem;
  color: #fff;
  background: #3bb986;
  box-shadow: 0 2px 0 #30946b;
  border-bottom-color: #30946b;
}
.content_box_inner .basic p a {
  color: #62ACC7;
}
